.choose-us {
  display: flex;
  gap: min(7.2vw, 27px);
  align-items: flex-start;

  padding-block: min(4.53vw, 17px) min(3.2vw, 12px);

  font-size: var(--f-s-9);
  font-weight: var(--f-w-light);
  line-height: 1.18;

  border-block: 1px solid var(--c-light);

  positive-negative-icon {
    flex-shrink: 0;
    inline-size: min(15.2vw, 57px);
    block-size: min(10.93vw, 41px);

    svg {
      inline-size: 100%;
      block-size: 100%;
    }
  }

  @media (width > 1100px) {
    display: flex;
    flex-direction: column;
    gap: min(3.6vw, 69px);
    align-items: center;

    font-size: var(--f-s-14);

    border: none;

    positive-negative-icon {
      inline-size: min(14.0625vw, 270px);
      block-size: min(9.9vw, 190px);

      /* margin-inline: auto max(-1vw, -20px); */
    }
  }

  /* @media (width > 800px) {
    grid-column: span 2;
    flex-direction: column;
    align-items: flex-end;

    inline-size: 50%;
    margin-block-start: min(5vw, 540px);
    margin-inline: auto;

    positive-negative-icon {
      margin-inline: auto;
    }
  } */

  @media (width > 1100px) {
    /* grid-column: unset; */

    /* align-self: end; */

    /* inline-size: auto; */

    /* margin-block-end: min(4.55vw, 50px); */

    /* margin-inline: auto 0; */

    /* font-size: var(--f-s-14); */
  }

  /* @media (width > 1200px) {
    margin-block-start: unset;
    border: none;

    positive-negative-icon {
      inline-size: min(145.45vw, 160px);
      block-size: min(10.364vw, 114px);
      margin-inline: auto 0;
    }

    > p {
      padding-inline: 37.5% 0;
    }
  } */

  /* @media (width > 1350px) {
    > p {
      padding-inline: 30% 0;
    }
  }

  @media (width > 1400px) {
    font-size: var(--f-s-15);

    positive-negative-icon {
      inline-size: min(13.95vw, 268px);
      block-size: min(9.895vw, 190px);
    }

    > p {
      padding-inline: 25% 0;
    }
  }

  @media (width > 1700px) {
    margin-block-end: min(3.96vw, 76px);
  } */
}