.icons-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  row-gap: min(10.133vw, 38px);

  margin-block: min(22.13vw, 83px) 0;

  font-size: var(--f-s-13);
  line-height: 1.077;
  list-style: none;

  > li {
    display: flex;
    flex-direction: column;
    gap: min(4vw, 15px);
    align-items: center;

    padding-inline: 6%;

    text-align: center;
    text-transform: uppercase;

    @media (width > 800px) {
      gap: min(2.0313vw, 39px);
      padding-inline: 10%;
    }
  }

  .icon-wrapper {
    display: grid;
    place-items: center;
    inline-size: min(14.133vw, 53px);
    block-size: min(12vw, 45px);

    svg {
      inline-size: 100%;
      block-size: 100%;
    }

    @media (width > 800px) {
      inline-size: min(4.3vw, 82px);
      block-size: min(3.65vw, 70px);

      > * {
        inline-size: auto;
        block-size: 100%;
      }
    }
  }

  @media (width > 800px) {
    grid-template: auto / repeat(4, 1fr);
    font-size: var(--f-s-33);
  }
}