.slashed-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(5.333vw, 20px);
  margin-block: min(8vw, 30px) 0;

  > p {
    position: relative;

    grid-column: span 2;

    padding-block: min(6.4vw, 24px);
    padding-inline-end: min(6.03vw, 26px);

    font-size: var(--f-s-10);
    font-weight: var(--f-w-light);
    line-height: 1.182;
    color: var(--c-alt);

    &::before {
      content: '';

      position: absolute;
      z-index: -1;
      inset: 0 max(-5.333vw, -20px) 0 calc(var(--layout-gap) * -1);

      background-color: var(--c-accent);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    }

    strong {
      font-weight: var(--f-w-semibold);
    }
  }

  figure {
    position: relative;
    display: grid;
    place-items: center;
    aspect-ratio: 1;

    &:nth-child(3n + 4) {
      &::before,
      &::after {
        content: '';

        position: absolute;
        rotate: z 12deg;

        inline-size: 2px;
        block-size: 100%;

        background-color: var(--c-light);
      }

      &::before {
        inset-inline-start: 0;
      }

      &::after {
        inset-inline-end: 0;
      }
    }
  }

  responsive-image {
    inline-size: min(90%, 89px);
  }
}