.offer {
  @media (width > 1100px) {
    &.layout > section:not(.highlight) > .heading {
      margin-block: min(7.1vw, 136px) min(5.9375vw, 114px);
      font-size: var(--f-s-36);
      text-align: center;
      white-space: pre-line;
    }

    .slashed {
      .item {
        --gap: min(2.3438vw, 45px);

        .text {
          padding: 0;
          white-space: pre-line;
        }
      }
    }
  }
}