html {
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
  font-family: var(--f-body);

  & :focus {
    outline-color: var(--c-accent);
  }
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  inline-size: 1px;
  block-size: 1px;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}