.layout {
  display: grid;
  grid-template-columns: var(--layout-gap) minmax(0, 1fr) var(--layout-gap);
  grid-template-rows: min-content;

  > *:not(.layout-full) {
    grid-column: 2;
  }

  > .layout-full {
    grid-column: span 3;
  }

  @media (width > 800px) {
    /* grid-template-columns: min(10.42vw, 200px) min(90vw, 1250px) 1fr; */

    /* margin-inline: auto; */

    /* &:is(main) {
      margin-block-start: min(4.7vw, 61px);
    } */
  }
}